@model User
@{
    ViewData["Title"] = "Edite";
    Layout = "~/Views/Shared/_MypageLayout.cshtml";
}

  <div class="container rounded bg-white mt-5 mb-5">
             <div class="row"> <div class="col-md-3 border-right">
                 <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                     <div class="rounded-circle mt-5" style="background-image:url('@Model.Image') ; width:200px ; height:200px ; border-radius : 50%;background-size:cover; background-position:center; background-repeat:no-repeat ;"></div>
                    <span class="font-weight-bold">@Model.Name</span>
                    <span class="text-black-50">@Model.Email</span>
                    <span> </span>
                </div> 
             </div>
             <div class="col-md-5 border-right">
                 <div class="p-3 py-5"> 
                    <div class="d-flex justify-content-between align-items-center mb-3"> 
                        <h4 class="text-right">Profile Settings</h4> 
                    </div> 
                     <form action="/Users/Edite/@Model.ID" enctype="multipart/form-data" controller="Users" method="post">
                    <div class="row mt-3"> 
                        <div class="col-md-12">
                            <label class="labels">Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" name="Name" value="@Model.Name">
                        </div> 

                    </div> 
                    <div class="row mt-3">
                        @*<div class="col-md-12">
                                <label class="labels">Email</label>
                                <input type="email" class="form-control" placeholder="enter phone Email" name="Email" value="@Model.Email">
                            </div> *@
                             <div class="col-md-12">
                                <label class="labels">Passward</label>
                                <input type="password" class="form-control" placeholder="enter phone Password" name="Password" value="@Model.Password">
                            </div> 
                            <div class="col-md-12">
                                <label class="labels">Address</label>
                                <input type="text" class="form-control" placeholder="enter address" name="Adress" value="@Model.Adress">
                            </div> 

                            <div class="col-md-12">
                                <label class="labels">Education</label>
                                <input type="text" class="form-control" placeholder="education" name="School" value="@Model.School">
                            </div>
                             <div class="col-md-12">
                               <select asp-for="gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                               </select>
                             </div>
                             <div class="col-md-12">
                                    <label class="labels">Image profile</label>
                                    <input type="file" name="Image" value="@Model.Image" accept=".jpeg" class="form-control" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                             </div>
                              <div class="mt-5 text-center">
                                 <input class="btn btn-primary profile-button" type="submit">
                              </div>
                    </div> 




              </form>
             </div>


             </div>


</div>



</div>

