
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Password
            </th>
            <th>
                Email
            </th>
            <th>
                Adress
            </th>
            <th>
                gender
            </th>
            <th>
                School
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.Show)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Adress
                </td>
                <td>
                    @item.gender
                </td>
                <td>
                    @item.School
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
